html {
    display: flex;
    justify-content: center;
}

body {
    position: relative;
    width: 1000px;
}

h1 {
    text-align: center;
    background-color: rgb(115, 226, 115);
    padding: 5px;
}

h3 {
    text-align: center;
}

.first,
.second {
    position: relative;
    background-color: rgb(217, 255, 217);
    padding: 0 20px;
}

table {
    margin: 0 auto;
    width: 80%;
}

table {
    border-collapse: collapse;
}

th,
td {
    border: thin solid;
    padding: 2px 5px;
}

td:nth-child(3),
td:nth-child(4) {
    text-align: right;
}

.row {
    display: table-row;
    background-color: rgb(217, 255, 217);
}

.cell {
    display: table-cell;
    width: 30%;
    padding: 0px 20px;
    text-align: justify;
}