html {
    display: flex;
    justify-content: center;
}

body {
    width: 90%;
}

#table {
    display: table;
    border-spacing: 10px;
    width: 50%;
}

#th {
    font-weight: bold;
}

.row {
    display: table-row;
}

.cell {
    display: table-cell;
    margin: 2px auto;
    /* border: solid thin; */
    text-align: center;
}

.container {
    margin: 10px 0;
    justify-content: center;
    display: flex;
}

#header {
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
    background-color: rgb(134, 236, 134);
    padding: 10px;
}

h3 {
    text-align: center;
}

article {
    background-color: rgb(215, 247, 215);
    margin: 20px 0px;
    padding: 0px 20px;
    text-align: justify;
}

#caption {
    display: table-caption;
    text-align: center;
}

#caption>h3 {
    margin: 10px;
}

.input-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
}

.input-table {
    display: table;
}

.input-row {
    display: table-row;
}

.input-cell {
    display: table-cell;
    width: 50%;
    text-align: center;
}

input {
    width: 50%;
}

.rateinput {
    text-align: center;
    margin: 10px auto;
    width: 50%;
}

.rateinput>input {
    width: 30%;
}

.table {
    display: table;
    width: 20%;
}

#click {
    width: 70px;
}